<%= form_with model: @user do |f| %>
    <h1>Editar Usuario: <%= @user.name %></h1>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.submit %>
<% end %>